AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_SESSION_TOKEN=

S3_BUCKET=enterprise-iot-sensor-s3-prod
S3_PREFIX=
SQS_URL=

BACKFILL_PAGE_SIZE=1000
BACKFILL_BATCH_SIZE=10
BACKFILL_WORKERS=8
BACKFILL_LIMIT=0
BACKFILL_SUFFIX=
BACKFILL_START_DATE=01-08-2026
BACKFILL_END_DATE=10-09-2026
BACKFILL_START_AFTER=
BACKFILL_DRY_RUN=false
BACKFILL_PROGRESS_EVERY=10000

KAFKA_TOPIC=s3-object-metadata
KAFKA_INVALID_TOPIC=s3-object-metadata-invalid
KAFKA_TOPIC_PARTITIONS=12
KAFKA_INVALID_TOPIC_PARTITIONS=3

CLICKHOUSE_DATABASE=default
CLICKHOUSE_USER=default
CLICKHOUSE_PASSWORD=clickhouse
CLICKHOUSE_TABLE=s3_object_metadata

CONSUMER_BATCH_SIZE=10000
CONSUMER_FLUSH_SECONDS=1
